<?xml version="1.0"  encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
         http://www.springframework.org/schema/task
         http://www.springframework.org/schema/task/spring-task-3.0.xsd"
        >

    <context:component-scan base-package="com.wallofshame"/>
    <context:annotation-config/>

    <bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftls/"/>
    </bean>



    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="cache" value="false"/>
        <property name="prefix" value=""/>
        <property name="suffix" value=".ftl"/>
        <property name="exposeSpringMacroHelpers" value="true"/>
    </bean>

    <context:component-scan base-package="com.wallofshame.service"/>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com"/>
        <property name="port" value="587"/>
        <property name="username" value="robotforwallofshame@gmail.com"/>
        <property name="password" value="robotpsw1"/>
        <property name="javaMailProperties">
            <props>
                <!-- Use SMTP transport protocol -->
                <prop key="mail.transport.protocol">smtp</prop>
                <!-- Use SMTP-AUTH to authenticate to SMTP server -->
                <prop key="mail.smtp.auth">true</prop>
                <!-- Use TLS to encrypt communication with SMTP server -->
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.debug">true</prop>
            </props>
        </property>
    </bean>

    <bean id="alertMailMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from">
            <value>robotforwallofshame@gmail.com</value>
        </property>
        <property name="to">
            <value>1987quchen@gmail.com</value>
        </property>
        <property name="subject" value="Alert - Exception occurred. Please investigate"/>
    </bean>


    <task:annotation-driven executor="defaultTaskExecutor" scheduler="defaultTaskScheduler"/>

    <task:executor id="defaultTaskExecutor" pool-size="5"/>

    <task:scheduler id="defaultTaskScheduler" pool-size="5"/>



    <!--<bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">-->
        <!--<property name="delay" value="30000"/>-->
        <!--&lt;!&ndash; run every 30 seconds &ndash;&gt;-->
        <!--<property name="period" value="300000"/>-->
        <!--<property name="timerTask" ref="updateWallOfShameService"/>-->
    <!--</bean>-->


    <!--<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">-->
        <!--<property name="scheduledTimerTasks">-->
            <!--<list>-->
                <!--<ref bean="scheduledTask"/>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
</beans>